@model IEnumerable<LiftSepeti.Models.Entity.siparisTable>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Siparişler</title>
    <link href="~/CSS/table.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
   
    <table class="styled-table">
        <thead>
        <th>
            @Html.DisplayNameFor(model => model.tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bayiTable.ulke)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.durumTable.durum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.liftTable.resim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.odemeyontemiTable.tip)
        </th>
        <th></th>
        </thead>

        @foreach (var item in Model)
        {
            <tbody>
            <td>
                @Html.DisplayFor(modelItem => item.tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bayiTable.ulke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.durumTable.durum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.liftTable.resim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.odemeyontemiTable.tip)
            </td>
            <td>
                <a href="/yoneticisiparisler/Edit/@item.id" class="btn btn-warning">Düzenle</a>|
                <a href="/yoneticisiparisler/Details/@item.id" class="btn btn-info">Detay</a>|
                <a href="/yoneticisiparisler/Delete/@item.id" class="btn btn-danger">Sil</a>
            </td>
            </tbody>
        }

    </table>
    <a href="/yoneticisiparisler/Create" class="btn btn-success">Sipariş Ekle</a>
</body>
</html>
