@model LiftSepeti.Models.Entity.bayiTable

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bayi Detayı</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        h4 {
            text-align: center;
        }

       
        body {
            background-color: lightblue;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
   
    </style>
</head>
<nav class="navbar navbar-expand-sm  justify-content-center">

</nav>
<body>
    
    <div class="container">
        <h2 style="margin-left:400px">DETAYLI BAYİ BİLGİSİ</h2>
        <br />
        <br />
        
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Ülke </th>
                    <th>Şehir</th>
                    <th>Bayi adı</th>
                    <th>Bayi şifre</th>
                    <th>Bayi Adresi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> @Html.DisplayFor(model => model.ulke)</td>
                    <td>@Html.DisplayFor(model => model.sehir)</td>
                    <td>@Html.DisplayFor(model => model.bayiad)</td>
                    <td>@Html.DisplayFor(model => model.sifre)</td>
                    <td>@Html.DisplayFor(model=>model.adres)</td>
                </tr>
                
            </tbody>
        </table>
    </div>

</body>


<!-- <body>
    <div>
        <h4>Bayi Detayı</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ulke)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ulke)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sehir)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sehir)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.bayiad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bayiad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sifre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sifre)
            </dd>

        </dl>
    </div>
    <p>
        <a href="/yoneticibayiler/Edit/@Model.id" class="btn btn-warning">Düzenle</a>|
        <a href="/yoneticibayiler/Index" class="btn btn-info">Listeye Geri Dön</a>
    </p>
</body>
    -->
</html>
