@model IEnumerable<LiftSepeti.Models.Entity.bayiTable>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bayiler</title>
    <link href="~/CSS/table.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-expand-sm  justify-content-center">

</nav>

<body>
    <div class="container">
        <h2 style="margin-left:500px">SİPARİŞLER</h2>
        <br />
        <br />
        <form runat="server">
            <div style="float:right">
                <label>Bayi Adı: </label>
                <td>@Html.TextBox("ara")</td>

                <button class="btn btn-success">Ara</button>
            </div>
        </form>
        <br />
        <br />

        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>   Sıra</th>
                    <th>   Id</th>
                    <th>Ülke </th>
                    <th>Şehir</th>
                    <th>Bayi Adı</th>
                    <th>Bayi Şifre</th>
                </tr>
            </thead>

            <tbody>
                @{int sira = 1; }
                @foreach (var item in Model)
                {

                <tr>
                    <td>@sira</td>
                    @{ sira++;}
                    <td> @Html.DisplayFor(modelItem => item.id)</td>
                    <td> @Html.DisplayFor(modelItem => item.ulke)</td>
                    <td> @Html.DisplayFor(modelItem => item.sehir)</td>
                    <td> @Html.DisplayFor(modelItem => item.bayiad)</td>
                    <td>  @Html.DisplayFor(modelItem => item.sifre)</td>

                    <td><a href="/yoneticibayiler/Edit/@item.id" class="btn btn-warning">Düzenle</a></td>
                    <td><a href="/yoneticibayiler/Details/@item.id" class="btn btn-warning">Detay</a></td>
                    <td><a href="/yoneticibayiler/Sil/@item.id" class="btn btn-danger">Sil</a></td>


                </tr>
                }
            </tbody>

        
        <div class="form-group" style="margin-left:400px">
            <div class="col-md-offset-2 col-md-10 ">

                <a href="/yoneticibayiler/Create" class="btn btn-success  " style="margin-left:80px"> <i>BAYİ EKLE</i> </a>
                <br />
                <br />
                <a href="/yoneticianasayfa/index" class="btn btn-dark " style="margin-left:50px"> <i>ANASAYFAYA DÖN</i> </a>
            </div>
        </div>




</body>
</html>
